#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	glib-compile-schemas schemas/
	zip -r obision-extension-one-win@obision.com.shell-extension.zip \
		extension.js \
		metadata.json \
		prefs.js \
		stylesheet.css \
		schemas/

override_dh_auto_install:
	mkdir -p debian/gnome-shell-extension-obision-one-win/usr/share/gnome-shell/extensions/obision-extension-one-win@obision.com
	unzip -q obision-extension-one-win@obision.com.shell-extension.zip -d debian/gnome-shell-extension-obision-one-win/usr/share/gnome-shell/extensions/obision-extension-one-win@obision.com/

override_dh_auto_clean:
	rm -f *.zip
	rm -f schemas/gschemas.compiled
	dh_clean
